[submodule "src/github.com/gorilla/schema"]
	path = src/github.com/gorilla/schema
	url = https://github.com/gorilla/schema
[submodule "src/github.com/gorilla/websocket"]
	path = src/github.com/gorilla/websocket
	url = https://github.com/gorilla/websocket
